In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('salaries.csv')

In [3]:
df.head()

     Name  Salary  Age
0    John   50000   34
1   Sally  120000   45
2  Alyssa   80000   27

In [4]:
df.shape

(3, 3)

In [7]:
df['Salary']

0     50000
1    120000
2     80000
Name: Salary, dtype: int64

In [9]:
df[['Salary', 'Name']]

   Salary    Name
0   50000    John
1  120000   Sally
2   80000  Alyssa

In [11]:
df['Salary'].mean()

83333.33333333333

In [12]:
df['Salary'].max()

120000

In [13]:
df['Salary'].min()

50000

In [14]:
# Condition filtering

ser_of_bool =  df['Age']  > 30

0     True
1     True
2    False
Name: Age, dtype: bool