In [1]:
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd

In [4]:
df = pd.read_csv('../data/2018WinterOlympics.csv')

In [5]:
df.head()

   Rank            NOC  Gold  Silver  Bronze  Total
0     1         Norway    14      14      11     39
1     2        Germany    14      10       7     31
2     3         Canada    11       8      10     29
3     4  United States     9       8       6     23
4     5    Netherlands     8       6       6     20

In [15]:
trace1 = go.Bar(x=df['NOC'], y=df['Gold'], 
                name='Gold', marker={'color':'#ffd700'})

In [16]:
trace2 = go.Bar(x=df['NOC'], y=df['Silver'], 
                name='Silver', marker={'color':'#9ea0a1'})

In [17]:
trace3 = go.Bar(x=df['NOC'], y=df['Bronze'], 
                name='Bronze', marker={'color':'#cd7f32'})

In [18]:
data = [trace1, trace2, trace3]

In [22]:
layout = go.Layout(title='Medals', barmode='stack')

In [23]:
fig = go.Figure(data, layout)

In [24]:
pyo.plot(fig)

'temp-plot.html'