## Histograms

Display an accurate representation of the oveall distribution of a contionous features

To create a histogram, divide the entire range of values of the continous feature into a series of intervals

In [1]:
# import libraries

import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd

In [2]:
df = pd.read_csv('../data/mpg.csv')

In [3]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [21]:
data = [go.Histogram(x=df['mpg'], xbins=dict(start=0,end=50,size=2))]

In [22]:
layout = go.Layout(title='MPG Histogram')

In [23]:
fig = go.Figure(data=data, layout=layout)

In [25]:
pyo.plot(fig, filename='mpghistogram.html')

'mpghistogram.html'

### Exercise

Create a histogram that plots the length field using abalone data, ranges to be set from 0 to 1 with a bin size of 0.002

In [26]:
# import libraries

import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd

In [27]:
df = pd.read_csv('../data/abalone.csv')

In [28]:
df.head()

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [29]:
data = [go.Histogram(x=df['length'], xbins=dict(start=0,end=1,size=0.02))]

In [30]:
layout = go.Layout(title='Abalone Length Histogram')

In [31]:
fig = go.Figure(data=data, layout=layout)

In [32]:
pyo.plot(fig, filename='abalonehistogram.html')

'abalonehistogram.html'